.leftPart{
    border-radius:5px;
    margin-right: 20px;
}

.my-list-group-item{
    background: none;
    box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;
}


.rightPart{
    border-radius:5px;
    box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;
}

.bbs_banner li a:link{
    color: black;
}

.bbs_banner li a:visited{
    color: black;
}

.bbs_banner li a:active{
    color: #d12008;
}

.bbs-top{
    padding: 5px;
    margin-bottom: 10px;
}

.bbs-post{
    margin-top: 100px;
}

.chartRightPartTip{
    margin: 10px;
    float: left;
}

.SortBtn{
    margin: 10px;
    float: right;
}

.post-submit{
    margin: 10px;
    float: left;
}
.post-head{
    color: #d12008;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

.badge-info{
    background: #28a4c9;
}
#letterNumber{
    position: fixed;
    left: 0px;
    top: 300px;
    width: 40px;
    height: 50px;
    /*background-color: red;*/

}

#float_left{

}

#letterContentFrame{
    position: fixed;
    left: 40px;
    top:300px;
   /* width: 420px;*/
    /*height: 200px;*/  /*高度由私信条数确定*/
    background-color:rgb(245,245,245);
    visibility: hidden;
    border: 5px double #d6d6d6;
}

.listOfItem:active{
    background-color: #337ab7;
}

.listOfItem:hover{
    background-color: #337ab7;
}