.forMyPlate{
    color: red;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.leftPart{
    background-color: #dedef8;
    border-radius:5px;
    margin-right: 5px;
    box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;

}

.rightPart{
    background-color: #f5f5f5;
    border-radius:5px;
    box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;
}

.bbs_banner{
    margin: 0;
    padding: 0;
}

.bbs_banner li{
    list-style-type: none;
    margin-bottom: 20px;
    border-bottom:1px double #d6d6d6;
    text-align: center;

}

.bbs_banner li a:link{
    color: black;
}

.bbs_banner li a:visited{
    color: black;
}

.bbs_banner li a:active{
    color: #d12008;
}

.bbs-top{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom:1px double #d6d6d6;
}

.bbs-content .title_bbs{
    /*padding-right: 200px;*/
    padding-right: 150px;
    width: 400px;
    text-align: left;
}

.bbs-content .author{
    padding-right: 80px;
    width: 150px;
    text-align: right;
    float: right;
}

.bbs-content .time{
    text-align: left;
    width: 150px;
    float: right;
}
.bbs-content li{
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px double #d6d6d6;
}

#letterNumber{
    position: fixed;
    left: 0px;
    top: 300px;
    width: 40px;
    height: 50px;
    /*background-color: red;*/

}

#float_left{

}

#letterContentFrame{
    position: fixed;
    left: 40px;
    top:300px;
   /* width: 420px;*/
    /*height: 200px;*/  /*高度由私信条数确定*/
    background-color:rgb(245,245,245);
    visibility: hidden;
    border: 5px double #d6d6d6;
}

#ulLetterContent{
    padding: 5px;

    margin: 5px;
}

#ulLetterContent li{
    list-style-type:none;

}

#ulLetterContent li .isRead{
    width: 40px;
    float:left;

}

#ulLetterContent li .simpleContent{
    width: 200px;
    float:left;
}

#ulLetterContent li .sendTime{
    width: 100px;
    float:left;
}

#ulLetterContent li .sender {
    width: 150px;
    float:right;
}